body {
    display: grid;
    grid-template-columns: 15% auto 15%;
    grid-template-rows: 150px auto;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
header, footer {
    position: fixed;
    text-align: center;
}
header {
    background: linear-gradient(180deg, #004080ff,#ffffff00);
    width: 100%;
    clear: none;
}
section {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3 ;
    display: grid;
    grid-template-columns: 80% 20%;
    background-color: whitesmoke;
    padding: 100px 0 50px;
}
aside {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    border: 1px solid lightgray;
    border-radius: 5px;
    background-color: white;
    box-shadow: 3px 3px lightgray;
    padding: 30px 5px 5px;
    margin: 15px 15px 15px 0;
}
#article_container {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    display: flex;
    flex-direction: column;
}
article {
    border: 1px solid lightgray;
    border-radius: 5px;
    background-color: white;
    box-shadow: 3px 3px lightgray;
    padding: 0 15px 30px;
    margin: 15px;
}
footer {
    color: lightgray;
    font-size: 10px;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 10px 0;
    background-color: #ffffffd0;
    border-top: 1px solid lightgray;
}
h1 {
    color: whitesmoke;
    text-shadow: 0 0 2px #000000;
}
h2 {
    border-bottom: 1px solid gray;
    padding: 10px 300px 20px 0px;
    color: whitesmoke;
    text-shadow: 0 0 2px #000000;
}
p {
    margin-left: 5px;
}
em {
    color: gray;
}
code {
    display: block;
    padding: 30px 15px;
    margin: 0px 50px;
    border-radius: 5px;
    background-color: lightgray;
    font-family: 'Courier New', Courier, monospace;
}
.horodatage {
    font-style: italic;
    text-align: right;
    font-size: 12px;
    color: gray;
}